/* Import Google Font - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700&display=swap');

*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: 'Poppins', sans-serif;
   list-style: none;
   text-decoration: none;
   scroll-behavior: smooth;
}
body{
   background: #88ABFF;
}
.wrapper{
   margin: 50px;
   display: grid;
   gap: 15px;
   grid-template-columns: repeat(auto-fill, 265px);
}
.wrapper li{
   height: auto;
   background: #fff;
   border-radius: 5px;
   padding: 15px 20px 20px;
}
.add-box, .icon{
   display: flex;
   align-items: center;
   flex-direction: column;
   justify-content: center;
}
.add-box .icon{
   height: 78px;
   width: 78px;
   color: #88ABFF;
   font-size: 40px;
   border-radius: 50%;
   border: 2px dashed #88ABFF;
}
.add-box p{
   color: #88ABFF;
   font-weight: 500;
   margin-top: 20px;
}
.note p{
   font-size: 22px;
   font-weight: 500;
}
.note span{
   display: block;
   margin-top: 5px;
   color: #575757;
   font-size: 16px;
}